[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
colorama = "*"
sqlalchemy = "*"
bcrypt = "*"
pyjwt = "*"
websockets = "*"

[requires]
python_version = "3.8"
